<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuetrend/dist/vue-trend.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  </head>
  <body>

    <div id="main">
      <template>
        <el-tabs v-model="activeName">
          <el-tab-pane label="Edistyminen" name="first">
              <activity></activity>
          </el-tab-pane>
          <el-tab-pane label="Treenit" name="second">
            <excercise-list></excercise-list>
          </el-tab-pane>
          <el-tab-pane label="Saavutukset" name="third">
            <achivements></achivements>
          </el-tab-pane>
        </el-tabs>
      </template>
    </div>
  </body>

    <script>
      Vue.component('achivements', {
        template: `
          <div>
            <el-row v-for="achivement in achievements"  :key="achivement.name">
              <el-col :span="4">
                <div style="text-align: center;">
                <el-progress type="circle" :percentage="achivement.progress" :status="achivement.status" :width="55"></el-progress>
                </div>
              </el-col>
              <el-col :span="20">
                <div><h4>{{ achivement.name }}</h4>{{ achivement.goal }}</div>
                <hr>
              </el-col>
            </el-row>
          </div>
          `,
          data() {
            return {
              achievements: [
              { name: "Juoksija", goal: "Juokse yhteensä 100km", progress: 25, status: "" },
              { name: "Kiipijä", goal: "Nouse yhteensä 1000 rappusta", progress: 40, status: "" },
              { name: "Vesipeto", goal: "Ui yhteensä 10km", progress: 100, status: "success" },
              { name: "Punnertaja", goal: "Tee 100 punnerrusta kerralla", progress: 0, status: "exception" },
              ],
            }
          },
      });
      Vue.component('excercise-list', {
        template: `
          <div>
            <el-row>
              <el-col :span="24">
                <div class="columns medium-3" v-for="excercise in excercises">
                  <div class="card">
                    <div class="card-divider">
                      {{ excercise.excercisename }}
                    </div>
                    <div class="card-section">
                      <p>{{ excercise.excercisetype }}: {{ excercise.amount }}</p>
                    </div>
                  </div>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <hr>
                <div style="text-align: center;"><el-button type="primary" @click="getExcercises" round>Hae treenidata</el-button></div>
              </el-col>
            </el-row>
          </div>
      `,
        data() {
          return {
            excercises: [
            ],
          }
        },
        methods: {
          getExcercises: function() {
            axios.get("https://7u4yroqy10.execute-api.eu-west-1.amazonaws.com/dev/data")
              .then(response => {this.excercises = response.data.excercises})
          },
        }
      });
      
      Vue.component('conditional-select', {
        template: `
      <form>
        Syötä uusi treeni
          <div id="ConditionalSelect">
          <div class="select">
          <select v-model="category" name="category" @change="sync">
          <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
          </select>
          </div>

          <div>
          <p v-for="subcategory in conditionalSubcategories">{{ subcategory.name }}
        <el-input-number v-model="amount" :min="1" :step="0.10" @change="sync"></el-input-number>
          </p>
          </div>
          </div>
          <div style="text-align:center;"><el-button type="primary" round @click.prevent="postExcerciseData">Lähetä</el-button></div>
      </form>
          `,

        props: ['categories', 'subcategories'],

        data() {
          return {
            category: 0,
            amount: '',
          }
        },
        methods: {
          sync: function () {
            this.$emit('input', { amount: this.amount, laji: this.category });
          },
        postExcerciseData: function() {
          axios.post("https://7u4yroqy10.execute-api.eu-west-1.amazonaws.com/dev/data", {
            excercisename: this.categories.find(category => { return category.id == parseInt(this.category) }).name,
            excercisetype: this.subcategories.find(category => { return category.category_id == parseInt(this.category)}).name,
            amount: parseInt(this.amount)
          }).then(reponse => { 
            Object.assign(this.$data, this.$options.data()); 
          	this.$notify({
          		title: 'Success',
          		message: 'Treeni lisätty',
          		type: 'success'
        		});
          })
        },
        },
        computed: {
          conditionalSubcategories() {
            return this.subcategories.filter(subcategory => {
              return subcategory.category_id == this.category;
            });
          },
        },

        created() {
          let category = this.categories.find(category => {
            return category.selected == true;
          });

          this.category = category.id;
        }
      });
    Vue.component('activity', {
      template: `
        <div>
          <el-row>
            <el-col :span="24">
              Aktiivisuus viimeisen viikon aikana:
              <trend
                :data="[6, 9, 5, 10, 3, 8, 6]"
                :gradient="['#ff0000', '#ff5d00', '#ffff00', '#00ff00']"
                :stroke-width="4"
                auto-draw
                smooth>
              </trend>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              Heimon viikkotavoite:
               <el-progress :percentage="20" :stroke-width="16" @click.native="heimoDialogVisible = true"></el-progress>
               <el-dialog
                 title="Heimon viikkotavoite"
                 :visible.sync="heimoDialogVisible"
                 width="80%">
                 <span>Juoskaa yhteensä 100 km</span><br>
                 Suoritus: <input type="text">
                 <span slot="footer" class="dialog-footer">
                 <el-button @click.native="heimoDialogVisible = false" round>Peruuta</el-button>
                 <el-button type="primary" @click.native="heimoDialogVisible = false" round>Lähetä</el-button>
                 </span>
               </el-dialog>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              Henkilökohtainen viikkotavoite:
              <el-progress :percentage="100" :stroke-width="16" status="success" @click.native="omaDialogVisible = true"></el-progress>
               <el-dialog
                 title="Henkilökohtainen viikkotavoite"
                 :visible.sync="omaDialogVisible"
                 width="80%">
                 <span>Venyttele joka päivä.</span><br>
                 <span slot="footer" class="dialog-footer">
                 Suoritettu: 
                 <el-button @click.native="omaDialogVisible = false" round>Ei</el-button>
                 <el-button type="primary" @click.native="omaDialogVisible = false" round>Kyllä</el-button>
                 </span>
               </el-dialog>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <conditional-select :categories="categories" :subcategories="subcategories" v-model="treeni"></conditional-select>
            </el-col>
          </el-row>
        </div>
        `,
      data() {
        return {
        treeni: {laji: 0, amount: ''},
        heimoDialogVisible: false,
        omaDialogVisible: false,
        actions: [
          { name: "Kyllä" },
          { name: "Ei" }
        ],
        categories: [
					{ id: '0', name: '-- Valitse laji --', selected: true },
					{ id: '1', name: 'Juoksu', selected: true },
					{ id: '2', name: 'Uinti', selected: false },
					{ id: '3', name: 'Pyöräily', selected: false },
					{ id: '4', name: 'Kuntosali', selected: false },
					{ id: '5', name: 'Hyötyliikunta', selected: false },
					{ id: '6', name: 'Kyykky', selected: false },
					{ id: '7', name: 'Punnerrus', selected: false },
        ],
        subcategories: [
			{ id: '1', category_id:'1',  name: 'Matka', selected: true },
			{ id: '2', category_id:'2',  name: 'Matka', selected: true },
			{ id: '3', category_id:'3',  name: 'Matka', selected: true },
			{ id: '4', category_id:'4',  name: 'Aika', selected: true },
			{ id: '5', category_id:'5',  name: 'Aika', selected: true },
			{ id: '6', category_id:'6',  name: 'Toistot', selected: true },
			{ id: '7', category_id:'7',  name: 'Toistot', selected: true },
		]
      }
      },
      });


 var Main = {
    data() {
      return {
        activeName: 'first'
      };
    },
  };
var Ctor = Vue.extend(Main);
new Ctor().$mount('#main');
        </script>
</html>
